@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Luckiest+Guy&display=swap");

header {
  width: 100%;
  margin: 0;
  background-color: black;
  padding: 22px 0;
  position: relative;
  top: 0;
  z-index: 999;
}

header #logo {
  display: flex;
  align-items: center;
  height: 100%;
}

img {
  max-width: 100%;
  height: auto;
}

header nav {
  width: auto;
  height: auto;
  margin-top: 10px;
  align-items: center;
  justify-self: center;
  display: flex;
  flex-direction: row;
}

header nav ul {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-bottom: 0;
  height: auto;
}

header nav ul li {
  list-style: none;
}

header nav ul li a {
  text-decoration: none;
  color: white;
  margin: 0 16px;
  font-weight: 500;
  font-size: 16px;
}

header nav #lupa-dad {
  display: flex;
  align-items: center;
  height: 100%;
}

header nav #Lupa-Header {
  width: 22px;
  height: 22px;
  margin-left: 22px;
}

#menu-toggle {
  display: none;
}

.menu-localizacao {
  padding: 13px 0 3px;
  border: 1px solid #cad1eb;
}

.menu-localizacao span {
  color: #88898c;
  width: 2px;
  height: 1px;
  margin: 0 9px;
}

.pos-venda {
  background-color: #fafafa;
  height: 115px;
  padding: 33px 0 33px;
}

.pos-venda h2 {
  font-weight: 500;
  text-transform: none;
}

.containerA {
  padding: 70px 0 55px;
}

.containerA img {
  max-width: 590px;
  height: auto;
  border-radius: 5px;
}

.containerA .texto1 {
  margin: 90px 0 0;
}

.containerA h2 {
  max-width: 485px;
  font-weight: 500;
}

.containerA p {
  max-width: 480px;
}

.containerB {
  background-color: #000000;
  color: #ffffff;
}

.containerB img {
  max-width: 590px;
  height: auto;
  border-radius: 5px;
  padding: 70px 0;
}

.containerB .texto1 {
  margin: 122px 0;
}

.containerB h2 {
  max-width: 500px;
  font-weight: 500;
}

.containerB p {
  max-width: 580px;
}

.containerC {
  padding: 65px 0 55px;
}

.containerC img {
  max-width: 590px;
  height: auto;
  border-radius: 5px;
}

.containerC .texto1 h3 {
  max-width: 595px;
  font-weight: 500;
  text-transform: none;
}

.containerC .texto1 p {
  max-width: 590px;
  margin-bottom: 30px;
}

.containerC .texto2 h3 {
  text-transform: none;
  font-weight: 500;
  margin-top: 40px;
}

.containerD .borda {
  border-top: solid 1px #00000033;
  border-bottom: solid 1px #00000033;
  padding: 34px 0;
}

.containerD h2 {
  font-weight: 500;
  text-align: center;
}

.containerD p {
  text-align: center;
  color: #484d51;
}

.containerD button {
  display: flex;
  max-width: 190px;
  height: auto;
  padding: 12px 28px;
  text-align: center;
  justify-self: center;
  margin-top: 28px;
  color: #ffffff;
  background-color: #000000;
}

.containerD a {
    text-decoration: none;
    color: inherit;
}

.containerD button a:hover {
    text-decoration: underline;
    font-size: 17px;
    transition: 0.5s;
}

.containerE {
    padding: 35px 130px;
    color: #8D89A5;
    text-align: center;
    justify-self: center;
}

.containerE .redes {
    display: flex;
    gap: 5px;
    align-items: center;
    font-size: 13px;
    margin-top: 20px;
}

.containerE .redes img {
    max-width: 38px;
    height: auto;
    padding-left: 10px;
}
footer {
  height: auto;
  width: auto;
  margin-top: 70px;
}

footer .footer-img {
  height: auto;
  width: auto;
  background-image: url(/atratis/lexus/pics/footer/back.jpg);
  background-position: center center;
  background-size: cover;
  padding-top: 85px;
  padding-bottom: 85px;
}

footer .footer-img .redes {
  display: flex;
  justify-content: center;
  gap: 15px;
}

footer .footer-img .redes .caixa-red {
  width: 38px;
  height: 38px;
  display: flex;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.1);
  margin-top: 30px;
}

footer .navegue {
  display: flex;
  flex-flow: column wrap;
  color: #ffffff;
  margin-left: 85px;
  max-width: 310px;
  width: 100%;
}

footer .navegue h3 {
  text-transform: none;
  font-weight: 400;
}

footer .navegue .list-naveg {
  display: flex;
  flex-direction: row;
  font-size: 16px;
  font-weight: 200;
  justify-content: flex-end;
}

footer .navegue .list-naveg .list-gap {
  margin-right: 35px;
}

footer .navegue .list-naveg ul li {
  height: 30px;
}

footer .endereco {
  color: #ffffff;
  width: 100%;
  max-width: 200px;
  justify-self: flex-end;
}

footer .endereco h3 {
  text-transform: none;
}

footer .endereco p {
  font-size: 16px;
  font-weight: 200;
  display: flex;
}

footer button {
  font-size: 16px;
  font-weight: 200;
  border: 1px solid #ffffff;
  padding: 8px 20px;
  margin-bottom: 15px;
  color: #ffffff;
  background-color: transparent;
}

footer .lgpd {
  color: #ffffff;
  max-width: 200px;
  width: 100%;
  justify-self: flex-end;
}

footer .lgpd ul {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

footer .lgpd ul li {
  font-size: 16px;
  font-weight: 200;
  width: 100%;
  max-width: 200px;
}

footer .termos-priv {
  font-size: 16px;
  font-weight: 200;
  border: 1px solid #ffffff;
  padding: 8px 20px;
  width: 170px;
  height: 45px;
}

footer .footer-bottom {
  margin-top: 24px;
  margin-bottom: 24px;
  display: flex;
  text-align: center;
  justify-content: space-around;
}

footer .new-logo {
  display: flex;
  width: 100%;
  max-width: 138px;
  height: 28px;
  object-fit: contain;
}
