@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Luckiest+Guy&display=swap");


header {
  width: 100%;
  margin: 0;
  background-color: black;
  padding: 22px 0;
  position: relative;
  top: 0;
  z-index: 999;
}

header #logo {
  display: flex;
  align-items: center;
  height: 100%;
}

img {
  max-width: 100%;
  height: auto;
}

header nav {
  width: auto;
  height: auto;
  margin-top: 10px;
  align-items: center;
  justify-self: center;
  display: flex;
  flex-direction: row;
}

header nav ul {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-bottom: 0;
  height: auto;
}

header nav ul li {
  list-style: none;
}

header nav ul li a {
  text-decoration: none;
  color: white;
  margin: 0 16px;
  font-weight: 500;
  font-size: 16px;
}

header nav #lupa-dad {
  display: flex;
  align-items: center;
  height: 100%;
}

header nav #Lupa-Header {
  width: 22px;
  height: 22px;
  margin-left: 22px;
}

#menu-toggle {
    display: none;
}

.menu-localizacao {
    padding: 13px 0 3px;
    border: 1px solid #CAD1EB;
  }

  .menu-localizacao span {
    color: #88898C;
    width: 2px;
    height: 1px;
    margin: 0 9px;
  }

  .pag3 {
    background-color: #FAFAFA;
    height: 115px;
    padding: 33px 0 33px;
  }

  .pag3 h2 {
    font-weight: 500;
  }

  .banner-principal .item {
  background-image: url(/atratis/lexus/pics/navbar/carro.jpg);
  background-position: center center;
  background-size: cover;
  height: 700px;
  width: 100%;
}

.banner-principal .item:hover .content {
  padding-bottom: 100px;
}

.banner-principal .item h1 {
  color: white;
  max-width: 398px;
  width: 100%;
}

.banner-principal .item p {
  color: white;
  max-width: 412px;
  width: 100%;
}

.banner-principal .item .content {
  height: 700px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 90px;
  transition: all 1s ease-in-out;
}

.f-sport {
    padding: 72px 0 72px;
}

.f-sport img {
    max-width: 590px;
    width: 100%;
    height: auto;
}

.f-sport h2 {
    font-weight: 300;
    max-width: 420px;
}

.f-sport h2 span {
    font-weight: 600;
}

.f-sport p {
    max-width: 490px;
}

.f-sport button {
    background-color: black;
    color: #ffffff;
    font-size: 18px;
    text-align: center;
    padding: 11px 32px;
}

.carro-in-ex h2 {
    font-weight: 600;
    max-width: 415px;
}

.carro-in-ex h2 span {
    font-weight: 200;
}

.carro-in-ex button {
  display: flex;
  flex-direction: row;
  padding: 6px 30px;
  margin-bottom: 10px;
  font-size: 18px;
  background-color: #f2f2f2;
  border: 1px solid #dfdfdf;
}

.carro-in-ex #bnt-topo-carro-in-ext {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  height: auto;
  margin-top: 104px;
}

.tab-btn {
  background-color: white;
  color: black;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.tab-btn.active {
  background-color: black;
  color: white;
}

.carro-in-ex .topo1 {
    margin-top: 42px;
}

.carro-in-ex .interno .owl-carros-in-ext{
    gap: 13px;
    display: flex;
}


.car-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 13px;
  padding: 10px;
}

.car-grid .item img {
  width: 100%;
  height: auto;
  display: block;
}


.diferenciais-lexus {
  background-image: linear-gradient(to left, #1d1d1d 50%, #000000b0 75%),
    linear-gradient(to top, #1d1d1d 10%, #1d1d1d00 100%),
    url(/atratis/lexus/pics/section-diferenciais/fundo.jpg);
  background-size: cover;
  background-position: center;
  height: auto;
  padding: 72px 0 76px;
}

.diferenciais-lexus #titulo-diferenciais {
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-self: center;
  text-align: center;
  padding-top: 72px;
  margin-bottom: 48px;
}

.grid-centro {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
  }

  .grid-container {
    width: 220px;
  }

.card {
  position: relative;
  width: 235px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  background-color: transparent;
}

.card img {
  width: 235px;
  height: auto;
  object-fit: cover;
  display: block;
}
 
.vertical-line {
  position: absolute;
  top: 200px; 
  height: 80px; 
  width: 1px;
  background-color: #ffffff;
}


/* Título com margin-top de 30px e afastado 18px da linha */
.card h3 {
  align-items: center;
  text-align: left;
  font-size: 20px;
  color: #ffffff;
  font-weight: 600;
  width: 100%;
  min-height: 60px;
  display: flex;
  justify-content: flex-start;
  padding-left: 18px;
  padding-top: 14px;
  text-transform: none;
  font-weight: 500;
}

/* Parágrafo 40px abaixo do título */
.grid-container p {
  font-size: 15px;
  color: #ffffff;
  font-weight: 200;
  text-align: left;
  width: 100%;
  min-height: 60px;
  padding-left: 18px;
  display: flex;
}

.potencia {
  padding: 70px 0 70px;
}

.potencia .potencia-titulo {
  justify-items: center;
  text-align: center;
}

.potencia h2 {
  font-weight: 600;
  max-width: 400px;
}

.potencia h2 span {
  font-weight: 300;
}

.potencia .potencia-content {
  display: flex;
  margin-top: 30px;
}

.potencia .potencia-content .conteudo {
  display: flex;
  flex-direction: column;
}

.potencia .potencia-content .s-linha {
padding-right: 56px;
margin-top: 30px;
}

.potencia .potencia-content .linha {
  padding: 0 56px 0;
  border-left: 1px solid #C5C5C5;
  margin-top: 60px;
}

.potencia p {
  color: #484D51;
  max-width: 170px;
}

.potencia h3 {
  font-weight: 500;
  max-width: 175px;
  text-transform: none;
}

.contato {
  background-color: #ffffff;
  height: auto;
}

.contato h2 {
  width: 100%;
  max-width: 375px;
  margin-top: 105px;
  font-weight: 600;
}
.contato p {
  width: 100%;
  max-width: 330px;
}

.contato form {
  background-color: #000000;
  color: #ffffff;
  width: 100%;
  max-width: 695px;
  height: 500px;
  padding: 38px 52px;
  margin-top: 62px;
  margin-bottom: 62px;
}

.contato form h3 {
  text-transform: none;
  color: #ffffff;
}

.contato form label {
  margin-bottom: 5px;
  font-weight: 200;
}

.contato form input {
  padding: 8px;
  font-size: 14px;
  height: 50px;
  border: 1px solid #ffffff;
  border-radius: 3px;
}

.contato form #mensagem {
  width: 590px;
  height: 75px;
  border-radius: 3px;
}

.contato .form-row {
  display: flex;
  gap: 20px;
  margin: 0;
}

.contato .form-group {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.contato form .checkbox {
  display: flex;
  align-items: center;
  gap: 7px;
  margin-top: 64px;
}

.contato form .btn-check-sub {
  display: flex;
  justify-content: space-between;
}

.contato form button {
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  padding: 10px 34px;
  margin-top: 54px;
  background-color: #ffffff;
}


  footer {
  height: auto;
  width: auto;
}

footer .footer-img {
  height: auto;
  width: auto;
  background-image: url(/atratis/lexus/pics/footer/back.jpg);
  background-position: center center;
  background-size: cover;
  padding-top: 85px;
  padding-bottom: 85px;
}

footer .footer-img .redes {
  display: flex;
  justify-content: center;
  gap: 15px;
}

footer .footer-img .redes .caixa-red {
  width: 38px;
  height: 38px;
  display: flex;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.1);
  margin-top: 30px;
}

footer .navegue {
  display: flex;
  flex-flow: column wrap;
  color: #ffffff;
  margin-left: 85px;
  max-width: 310px;
  width: 100%;
}

footer .navegue h3 {
  text-transform: none;
  font-weight: 400;
}

footer .navegue .list-naveg {
  display: flex;
  flex-direction: row;
  font-size: 16px;
  font-weight: 200;
  justify-content: flex-end;
}

footer .navegue .list-naveg .list-gap {
  margin-right: 35px;
}

footer .navegue .list-naveg ul li {
  height: 30px;
}

footer .endereco {
  color: #ffffff;
  width: 100%;
  max-width: 200px;
  justify-self: flex-end;
}

footer .endereco h3 {
  text-transform: none;
}

footer .endereco p {
  font-size: 16px;
  font-weight: 200;
  display: flex;
}

footer button {
  font-size: 16px;
  font-weight: 200;
  border: 1px solid #ffffff;
  padding: 8px 20px;
  margin-bottom: 15px;
  color: #ffffff;
  background-color: transparent;
}

footer .lgpd {
  color: #ffffff;
  max-width: 200px;
  width: 100%;
  justify-self: flex-end;
}

footer .lgpd ul {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

footer .lgpd ul li {
  font-size: 16px;
  font-weight: 200;
  width: 100%;
  max-width: 200px;
}

footer .termos-priv {
  font-size: 16px;
  font-weight: 200;
  border: 1px solid #ffffff;
  padding: 8px 20px;
  width: 170px;
  height: 45px;
}

footer .footer-bottom {
  margin-top: 24px;
  margin-bottom: 24px;
  display: flex;
  text-align: center;
  justify-content:space-around;
}

footer .new-logo {
  display: flex;
  width: 100%;
  max-width: 138px;
  height: 28px;
  object-fit: contain;
}


@media (max-width: 990px) {
  .car-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 colunas */
    gap: 13px; /* espaçamento entre imagens */
    padding: 10px;
  }

  .car-grid .item {
    width: 100%;
  }

  .car-grid .item img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 6px;
  }
}
