@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Luckiest+Guy&display=swap");

header {
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: black;
  padding: 22px 0;
  opacity: 0.8;
  position: absolute;
  top: 0;
  z-index: 999;
}

header #logo {
  display: flex;
  align-items: center;
  height: 100%;
}

img {
  max-width: 100%;
  height: auto;
}

header nav {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}

header nav ul {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-bottom: 0;
  height: 100%;
}

header nav ul li {
  list-style: none;
}

header nav ul li a {
  text-decoration: none;
  color: white;
  margin: 0 16px;
  font-weight: 500;
  font-size: 16px;
}

header nav #lupa-dad {
  display: flex;
  align-items: center;
  height: 100%;
}

header nav #Lupa-Header {
  width: 22px;
  height: 22px;
  margin-left: 22px;
}

.banner-principal .item {
  background-image: url(/atratis/lexus/pics/navbar/carro.jpg);
  background-position: center center;
  background-size: cover;
  height: 700px;
  width: 100%;
}

.banner-principal .item:hover .content {
  padding-bottom: 100px;
}

.banner-principal .item h1 {
  color: white;
  max-width: 398px;
  width: 100%;
}

.banner-principal .item p {
  color: white;
  max-width: 412px;
  width: 100%;
}

.banner-principal .item .content {
  height: 700px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 90px;
  transition: all 1s ease-in-out;
}

.Section-Carrosel {
  background-image: url(/atratis/lexus/pics/section-carrosel/Background2.jpg);
  background-position: center center;
  background-size: cover;
  height: 700px;
  width: 100%;
}

.Section-Carrosel .item .content {
  height: 700px;
  display: flex;
  flex-direction: column;
  padding-top: 74px;
}

.Section-Carrosel .item .content {
  justify-self: center;
}

.Section-Carrosel .item h1 {
  color: black;
}

.Section-Carrosel .item p {
  color: black;
}
