@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Luckiest+Guy&display=swap");

header {
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: black;
  padding: 22px 0;
  opacity: 0.8;
  position: absolute;
  top: 0;
  z-index: 999;
}

header #logo {
  display: flex;
  align-items: center;
  height: 100%;
}

img {
  max-width: 100%;
  height: auto;
}

header nav {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}

header nav ul {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-bottom: 0;
  height: 100%;
}

header nav ul li {
  list-style: none;
}

header nav ul li a {
  text-decoration: none;
  color: white;
  margin: 0 16px;
  font-weight: 500;
  font-size: 16px;
}

header nav #lupa-dad {
  display: flex;
  align-items: center;
  height: 100%;
}

header nav #Lupa-Header {
  width: 22px;
  height: 22px;
  margin-left: 22px;
}

.banner-principal .item {
  background-image: url(/atratis/lexus/pics/navbar/carro.jpg);
  background-position: center center;
  background-size: cover;
  height: 700px;
  width: 100%;
}

.banner-principal .item:hover .content {
  padding-bottom: 100px;
}

.banner-principal .item h1 {
  color: white;
  max-width: 398px;
  width: 100%;
}

.banner-principal .item p {
  color: white;
  max-width: 412px;
  width: 100%;
}

.banner-principal .item .content {
  height: 700px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 90px;
  transition: all 1s ease-in-out;
}

.carrossel {
  background-image: url(/atratis/lexus/pics/section-carrosel/Background2.jpg);
  background-position: center center;
  background-size: cover;
  height: 700px;
  width: 100%;
}

.Carrossel-Topo {
  display: flex;
  padding-top: 74px;
  height: 100%;
}

.Carrossel-Topo #h2-carrossel {
  flex-direction: column;
}

.Carrossel-Topo button {
  display: flex;
  flex-direction: row;
  padding: 6px 30px;
  margin-bottom: 10px;
  font-size: 18px;
  background-color: #f2f2f2;
  border: 1px solid #dfdfdf;
}

.carrossel .Carrossel-Topo #bnt-topo-carrossel {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  height: 100%;
}

.Carrossel-img {
  display: flex;
  position: absolute;
  z-index: 999;
  align-items: center;
  height: 100%;
  width: 100%;
}

.diferenciais-lexus {
  background-image: linear-gradient(to left, #1d1d1d 50%, #000000b0 75%),
    linear-gradient(to top, #1d1d1d 10%, #1d1d1d00 100%),
    url(/atratis/lexus/pics/section-diferenciais/fundo.jpg);
  background-size: cover;
  background-position: center;
  height: 740px;
}

.diferenciais-lexus #titulo-diferenciais {
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-self: center;
  text-align: center;
  padding-top: 72px;
}

.diferenciais-img {
  display: flex;
  margin-top: 48px;
  height: 100%;
}

.diferenciais-img .container .row {
  justify-content: center;
}

.grid-caixa {
  padding: 40px 0;
  background-color: #f9f9f9;
}

.imagem-caixa {
  width: 100%;
  height: auto;
  display: block;
}

.conteudo-caixa {
  margin-top: 10px;
}

.titulo-caixa {
  font-size: 20px;
  font-weight: 600;
  align-items: flex-start;
  border-left: 1px solid;
  padding-left: 18px;
  color: #ffffff;
}

.texto-caixa {
  font-size: 15px;
  color: #ffffff;
  margin-top: 41px;
  text-align: center;
}

.pos-venda {
  justify-content: center;
  align-items: center;
}

.pos-venda .pos-venda-img img {
  width: 100%;
  object-fit: cover;
  object-position: center center;
}

.pos-venda .pos-venda-img {
  margin: 80px 350px;
  background-color: #FAFAFA;
  border: 1px solid #E4E4E4;
}

.pos-venda .pos-venda-img .pos-venda-text {
  padding: 42px 50px;
}

.pos-venda .pos-venda-img .pos-venda-text p {
  display: flex;
  flex-flow: column wrap ;
  margin-top: 10px;
  width: 540px;
}

.conheca-mais {
  width: 100%;
  height: 565px;
  background-image: url(/atratis/lexus/pics/carro-p-seção-de-saiba-mais.jpg);
  background-position: center center;
  background-size: cover;
  padding-top: 110px;
  display: flex;
  color: white;
}
