header #menu-logger {
  display: none;
  font-size: 28px;
  color: white;
  cursor: pointer;
}

@media screen and (max-width: 990px) {
  header {
    position: absolute;
    background-color: black;
    padding: 12px 0;
  }

  .header-mobile {
    display: flex;
    justify-content: center; /* centraliza logo */
    align-items: center;
    position: relative;
  }

  #menu-toggle {
    display: block;
    position: absolute;
    right: 15px; /* respeita o padding lateral */
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
  }

  /* Esconde o menu por padrão */
  .nav-wrapper {
    display: none;
    flex-direction: column;
    background-color: transparent;
    padding: 12px 0;
  }

  /* Quando ativo, mostra o menu */
  .nav-wrapper.active {
    display: flex;
  }

  header nav {
    flex-direction: column; /* empilha logo e menu */
    align-items: center;
    gap: 10px;
  }

  header nav ul {
    flex-direction: column;
    align-items: center;
    margin-top: 10px;

    & li {
      margin-bottom: 15px;
    }
  }

  nav ul li a {
    margin: 10px 0;
    font-size: 16px;
  }

  header nav #lupa-dad {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
    height: auto;
  }

  header {
    padding-bottom: 15px;
  }

  header nav ul li {
    letter-spacing: 3px;
    line-height: 3rem;
  }

  header nav a {
    font-size: 1.2rem;
  }

  .pos-venda {
    height: auto !important;
    padding: 15px 0 15px !important;
  }

  .menu-localizacao {
    padding: 10px 5px;
  }

  .pos-venda h2 {
    font-size: 1.2rem;
    text-align: center;
  }

  .menu-localizacao p {
    font-size: 0.9rem;
    text-align: center;
  }

  .blog {
    padding: 50px 0 20px !important;
  }

  .blog .row {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }

  .blog .col-12 {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  .blog .parag1 .imagem {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .blog .parag1 .imagem img {
    width: 100%;
    max-width: 100%;
    height: auto;
    object-fit: cover;
    display: block;
  }

  .blog .info-topo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 12px;
  }

  .blog .info-topo .autor,
  .blog .info-topo .leitura,
  .blog .info-topo .data {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .blog .info-topo .separator {
    display: none;
  }

  .blog .info-topo span {
    font-size: 14px;
  }

  .blog .info-topo img {
    width: 24px;
    height: auto;
  }

  .blog .parag1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    margin-right: 0 !important;
  }

  .blog .parag1 .imagem {
    order: -1; /* move a imagem para cima */
    margin-bottom: 30px;
  }

  .blog .parag1 .texto {
    order: 1;
  }

  .blog .parag1 h3,
  .blog .parag1 p {
    max-width: 100% !important;
  }

  .blog .parag1 img {
    max-width: 100%;
    height: auto;
  }

  .blog .autor-container {
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    padding: 30px !important;
    margin: 20px auto;
    margin-right: 0 !important;
  }

  .autor-container .texto-lateral {
    padding-left: 0 !important;
    display: block;
  }

  .autor-container .texto-lateral h4::before {
    position: static;
    display: block;
    margin: 0 auto 10px;
    width: 88px;
    height: 88px;
    background-image: url("homem-maior.svg");
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 50%;
  }
  .blog .autor-container h4 {
    margin-bottom: 12px;
    margin-top: 20px;
  }

  .blog .autor-container p {
    margin-top: 60px;
    text-align: left;
  }

  .blog,
  .containerE {
    margin-right: 0 !important;
  }

  .blog .containerE p {
    justify-content: center;
  }

  .blog .containerE .redes {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    margin: 30px 20px 0 20px;
    justify-content: space-evenly;
    text-align: center;
  }

  .blog .containerE .redes img {
    width: 40px;
    height: auto;
    margin-right: 6px;
  }

  .sidebar {
    max-width: 80%;
    margin: 0 auto;
    font-size: 1rem;
    padding-top: 80px;
  }

  .sidebar .navegue h4 {
    font-size: 1.3rem;
    letter-spacing: 3px;
    padding: 0 20px 20px 20px;
  }

  .sidebar .navegue ul {
    font-size: 1.5rem;
    padding-left: 15px;
    justify-self: flex-start;
  }

  .sidebar .navegue ul li {
    font-size: 1rem;
    line-height: 3.4rem;
  }

  .sidebar .form button {
    height: auto;
  }

  footer {
    height: auto;
    padding: 40px 0 0 0;
  }

  footer .logo {
    justify-self: center;
    margin-bottom: 30px;
  }

  footer .navegue {
    display: flex;
    justify-self: center;
    margin: 0 0 10px 0 !important;
    font-weight: 500;
  }

  footer .navegue h3 {
    font-size: 26px;
    text-align: center;
    font-weight: 500;
  }

  footer .navegue ul li {
    font-size: 14px;
  }

  footer .endereco-pai {
    display: flex;
    justify-content: center;
  }

  footer .endereco {
    text-align: center;
  }

  footer .termos {
    display: flex;
    justify-content: center;
  }

  footer .lgpd {
    margin-top: 15px;
    text-align: center;
  }

  footer .lgpd ul li {
    text-align: left;
  }

  footer .footer-bottom {
    display: flex;
    margin-bottom: 15px;
  }

  footer .footer-bottom .logo-new {
    display: flex;
    justify-content: flex-end;
  }

  footer .logo-atratis {
    display: flex;
    justify-content: flex-end;
  }

  .img-footer {
    display: flex;
    align-items: center;
  }
}

@media screen and (max-width: 990px) and (min-width: 730px) {
  .sidebar .form .conteudo {
    width: 80%;
    margin: 0 auto;
  }
}

@media screen and (max-width: 550px) {
  .blog .autor-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px !important;
    margin: 20px auto;
    gap: 0;
  }

  .autor-container .texto-lateral {
    padding-left: 0 !important;
    max-width: 100%;
  }

  .autor-container .texto-lateral h4::before {
    position: relative;
    display: block;
    margin: 0 auto 12px;
    width: 48px !important;
    height: 48px !important;
    background-image: url("homem-maior.svg");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
  }

  .blog .autor-container h4 {
    margin: 8px 0 23px 15%;
    font-size: 18px;
  }

  .blog .autor-container p {
    margin: 0 auto;
    padding: 0 15px;
    font-size: 14px;
    text-align: justify;
  }
}

@media screen and (max-width: 799px) {
  .blog .parag1 .imagem {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
