@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Luckiest+Guy&display=swap");

header {
  width: 100%;
  margin: 0;
  background-color: black;
  padding: 22px 0;
  position: relative;
  top: 0;
  z-index: 999;
}

 header nav a:hover {
    color: #fff;
  }

header #logo {
  display: flex;
  align-items: center;
  height: 100%;
}

img {
  max-width: 100%;
  height: auto;
}

header nav {
  width: auto;
  height: auto;
  margin-top: 10px;
  align-items: center;
  justify-self: center;
  display: flex;
  flex-direction: row;
}

header nav ul {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-bottom: 0;
  height: auto;
}

header nav ul li {
  list-style: none;
}

header nav ul li a {
  text-decoration: none;
  color: white;
  margin: 0 16px;
  font-weight: 500;
  font-size: 16px;
}

header nav #lupa-dad {
  display: flex;
  align-items: center;
  height: 100%;
}

header nav #Lupa-Header {
  width: 22px;
  height: 22px;
  margin-left: 22px;
}

#menu-toggle {
  display: none;
}

.menu-localizacao {
  padding: 13px 0 3px;
  border: 1px solid #cad1eb;
}

.menu-localizacao a {
  color: inherit;
}

.menu-localizacao span {
  color: #88898c;
  width: 2px;
  height: 1px;
  margin: 0 9px;
}

.pos-venda {
  background-color: #fafafa;
  height: 115px;
  padding: 33px 0 33px;
}

.pos-venda h2 {
  font-weight: 600;
  letter-spacing: 2px;
}

.blog {
  padding: 70px 0 80px;
}

.blog p {
  font-weight: 400;
}

.blog .info-topo {
  display: flex;
  gap: 16px;
  align-items: center;
  color: #484d51;
}

.blog .info-topo .autor img {
  text-align: center;
  width: 46px;
  height: auto;
  margin-right: 20px;
}

.blog .info-topo .leitura img {
  height: auto;
  width: 24px;
  margin-right: 11px;
}

.blog .info-topo .data img {
  height: auto;
  width: 20px;
  margin-right: 11px;
}

.blog .info-topo .separator {
  width: 1px;
  height: 27px;
  background-color: #8d89a5;
  align-self: center;
}

.blog .parag1 {
  margin-top: 30px;
  margin-right: 78px;
}

.blog .parag1 h3 {
  text-transform: none;
  font-weight: 500;
  max-width: 385px;
}

.blog .parag1 p {
  max-width: 385px;
  color: #484d51;
}

.blog .parag1 img {
  max-width: 385px;
  height: auto;
}

.blog .parag2 p {
  max-width: 800px;
  margin-top: 33px;
  margin-bottom: 30px;
  color: #484d51;
}

.blog .dummy {
  margin-right: 78px;
}

.blog .dummy h3 {
  text-transform: none;
  font-weight: 500;
  padding-bottom: 6px;
}

.blog .dummy p {
  max-width: 800px;
  margin-bottom: 24px;
}

.blog .dummy h4 {
  text-transform: none;
  font-weight: 600;
  margin-top: 6px;
}

.blog .dummy p {
  margin-bottom: 25px;
  color: #484d51;
}

.blog .autor-container {
  margin-right: 78px;
  margin-top: 17px;
  gap: 30px;
  border: 1px solid #cad1eb;
  border-radius: 13px;
  padding: 30px 95px 35px 37px;
}

.autor-container .texto-lateral {
  position: relative;
  padding-left: 120px; /* espaço pro ícone */
  font-weight: 600;
  text-transform: none;
  display: inline-block;
}

.autor-container .texto-lateral h4::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 88px;
  height: 88px;
  background-image: url('homem-maior.svg');
  background-repeat: no-repeat;
  background-size: contain;
}

.blog .autor-container h4 {
  text-transform: none;
  font-weight: 600;
}

.blog .autor-container p {
  max-width: 545px;
  color: #484d51;
}

.blog .containerE p {
  color: #8d89a5;
}

.blog .botao-pesquisa {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px 10px 26px; /* corrigido */
  height: 50px;
  background-color: #fafafa;
  color: #88898c;
  border-radius: 5px;
  box-shadow: 2px 2px 1px 1px #00000014;
}

.blog .botao-pesquisa img {
  width: 20px;
  height: 20px;
}

.blog .navegue {
  height: auto;
  background-color: #fafafa;
  border-radius: 5px;
  padding: 27px 0 30px 25px;
  margin: 32px 0; /* espaçamento acima e abaixo */
}

.blog .navegue h4 {
  text-transform: none;
  font-weight: 600;
  margin-bottom: 12px;
}

.blog .navegue ul {
  margin: 0;
  list-style-type: disc; /* bolinhas padrão */
  list-style-position: inside; /* bolinhas ficam dentro da caixa */
}

.blog .navegue li {
  font-size: 16px;
  line-height: 1.8;
  color: #333;
}

.blog .form {
  background-color: #000000;
  color: #ffffff;
  padding: 26px 20px 34px;
  border-radius: 5px;
}

.blog .form h4 {
  font-weight: 500;
  text-transform: none;
}

.blog .form p {
  font-size: 14px;
  font-weight: 300;
}

.blog .form input[type="text"] {
  width: 100%;
  margin-bottom: 14px;
  padding: 15px;
  border-radius: 5px;
  height: 46px;
}

.blog .form input[type="checkbox"] {
  margin-top: 6px;
}

.blog .form .politicas-priv {
  font-weight: 300;
}

.blog .form button {
  margin-top: 11px;
  padding: 11px 0;
  font-weight: 500;
  width: 100%;
  height: 48px;
  border-radius: 5px;
  background-color: #ffffff;
  transition: transform 1.2s;
}

.blog .form button:hover {
  transform: scale(1.1);
  cursor: pointer;
  font-weight: 550;
}

.blog .linha {
  width: 100%;
  margin: 44px 0 60px;
  border: 1px solid #00000014;
}

.containerE {
  margin-top: 53px;
  padding-top: 35px;
  margin-right: 78px;
  color: #8d89a5;
  border-top: 1px solid #cad1eb;
}

.containerE p {
  display: flex;
  justify-content: flex-start;
}

.containerE .redes {
  display: flex;
  gap: 15px;
  align-items: center;
  font-size: 13px;
  margin-top: 25px;
}

.containerE .redes img {
  max-width: 45px;
  height: auto;
  padding-left: 10px;
}

footer {
  height: auto;
  width: auto;
}

footer .footer-img {
  height: auto;
  width: auto;
  background-image: url(/atratis/lexus/pics/footer/back.jpg);
  background-position: center center;
  background-size: cover;
  padding-top: 85px;
  padding-bottom: 85px;
}

footer .footer-img .redes {
  display: flex;
  justify-content: center;
  gap: 15px;
}

footer .footer-img .redes .caixa-red {
  width: 38px;
  height: 38px;
  display: flex;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.1);
  margin-top: 30px;
}

footer .navegue {
  display: flex;
  flex-flow: column wrap;
  color: #ffffff;
  margin-left: 85px;
  max-width: 310px;
  width: 100%;
}

footer .navegue h3 {
  text-transform: none;
  font-weight: 400;
}

footer .navegue .list-naveg {
  display: flex;
  flex-direction: row;
  font-size: 16px;
  font-weight: 200;
  justify-content: flex-end;
}

footer .navegue .list-naveg .list-gap {
  margin-right: 35px;
}

footer .navegue .list-naveg ul li {
  height: 30px;
}

footer .endereco {
  color: #ffffff;
  width: 100%;
  max-width: 200px;
  justify-self: flex-end;
}

footer .endereco h3 {
  text-transform: none;
}

footer .endereco p {
  font-size: 16px;
  font-weight: 200;
  display: flex;
}

footer button {
  font-size: 16px;
  font-weight: 200;
  border: 1px solid #ffffff;
  padding: 8px 20px;
  margin-bottom: 15px;
  color: #ffffff;
  background-color: transparent;
}

footer .lgpd {
  color: #ffffff;
  max-width: 200px;
  width: 100%;
  justify-self: flex-end;
}

footer .lgpd ul {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

footer .lgpd ul li {
  font-size: 16px;
  font-weight: 200;
  width: 100%;
  max-width: 200px;
}

footer .termos-priv {
  font-size: 16px;
  font-weight: 200;
  border: 1px solid #ffffff;
  padding: 8px 20px;
  width: 170px;
  height: 45px;
}

footer .footer-bottom {
  margin-top: 24px;
  margin-bottom: 24px;
  display: flex;
  text-align: center;
  justify-content: space-around;
}

footer .new-logo {
  display: flex;
  width: 100%;
  max-width: 138px;
  height: 28px;
  object-fit: contain;
}

footer .logo-atratis {
  justify-content: flex-end;
  display: flex;
}